html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.bg-5 {
    background-color: #E8E8E8;
    color: #474e5d;
}

.container-fluid {
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.fa,
.fab {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-envelope {
    background: #dd4b39;
    color: white;
}

.fa-phone {
    background: #430297;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.contact-me a:hover {
    text-decoration: none;
    color: white;
}

.img-responsive {
    height: 300px;
    width: 300px;
}

#TOOLS img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: white;
    box-shadow: 10px 10px 5px grey;
}

#TOOLS .large-img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 250px;
    min-width: 200px;
    min-height: 125px;
}

.SKILLS {
    text-align: center
}

.skills-icon .fa {
    font-size: 50px !important;
}

.fa:hover,
.fab:hover {
    color: white;
    opacity: 1;
}

.top-anchore {
    height: 50px;
    width: 50px;
    margin: 20px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.top-anchore a {
    color: #117964;
}

.top-anchore a:hover i {
    color: #117964;
    text-decoration: none;
}

.horizontal-rule {
    margin: 20px 48%;
    border-top: 1px solid white
}

#TOOLS .col-sm-3 {
    padding-bottom: 20px;
}

#TOOLS h5 {
    font-weight: bold !important;
}

.where-text {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blink-text {
    animation: blink 1s linear infinite;
}

.navbar-nav li {
    padding: 0px !important;
}

.navbar-nav li a {
    padding: 10px !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 20px;
}

.card img {
    padding: 8px;
    width: 100%;
    height: 200px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #1abc9c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.button:hover {
    color: white;
}

.title {
    height: 40px;
}

.link-primary,
.link-primary:hover {
    color: #1abc9c !important;
}